BasedOnStyle: LLVM

# Indenting
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Variables/Pointers and such
PointerAlignment: Left
QualifierAlignment: Left
SpaceAfterCStyleCast: true

# Functions and such
AllowShortFunctionsOnASingleLine: true
BreakBeforeBraces: Attach
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: true
BreakBeforeFunctionCallOpeningParen: false

# Control statements
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
